body, html {
    margin: 0;
    padding: 0;
}

* {
    /* font-family: sans-serif; */
    font-family: "Poppins", sans-serif;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 0px;
}

.uiTopLeft {
    width: 100%;
    max-width: 1000px;
    padding-left: 30px;
    position: fixed;
    transition: all 0.5s ease-out
}

#info {
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-size: 2em;
    font-style: italic;
    visibility: visible;
}

#information {
    position: absolute;
    bottom: 100px;
    right: 30px;
    font-size: 1.5em;
    font-style: italic;
    visibility: hidden;
    color: black;
}

#keypress {
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 100%;
    font-size: 3em;
    font-style: italic;
    visibility: visible;
    text-shadow: 2px 2px 5px black
}

#vehicleselect {
    text-align: center;
    position: absolute;
    top: 30px;
    width: 100%;
    font-size: 3em;
    font-style: italic;
    visibility: hidden;
    transition: all 0.5s ease-out;
    text-shadow: 2px 2px 5px black
}
#speed {
    text-align: right;
    position: absolute;
    bottom: 30px;
    width: 100%;
    right: 30px;
    font-size: 3em;
    font-style: italic;
    visibility: visible;
    color:white;
    transition: all 0.5s ease-out;
    text-shadow: 2px 2px 5px black
}
#Checkpoint {
    text-align: center;
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 2em;
    font-style: italic;
    visibility: hidden;
    color:white;
    transition: all 0.5s ease-out;
    text-shadow: 2px 2px 5px black
}
#Powerup {
    text-align: center;
    position: fixed;
    top: 60px;
    width: 100%;
    padding-left: 80px;
    font-size: 3em;
    font-style: italic;
    visibility: hidden;
    color:white;
    transition: all 0.5s ease-out;
    text-shadow: 2px 2px 5px black
}
#fastestLap {
    position: absolute;
    top: 10px;
    width: 100%;
    font-size: 2em;
    visibility: visible;
    color:white;
    text-shadow: 2px 2px 5px black
}

.krog {
    text-align: left;
    position: fixed;
    width: 100%;
    padding-top: 70px;
    padding-left: 30px;
    font-size: 1em;
    font-style: italic;
    visibility: visible;
    color:white;
    transition: all 0.5s ease-out;
    text-shadow: 2px 2px 5px black
}
#krogi {
    top: 0px;
}
#krog1 {
    top: 20px;
}
#krog2 {
    top: 35px;
}
#krog3 {
    top: 50px;
}

#time {
    text-align: center;
    position: absolute;
    top: 30px;
    width: 100%;
    font-size: 1em;
    font-style: italic;
    color:white;
    text-shadow: 2px 2px 5px black
}

#myProgress {
    position: absolute;
    bottom: 30px;
    width: 100%;
    background-color: #ddd;
    visibility: visible;
    transition: all 0.5s ease-out;
    text-shadow: 2px 2px 5px black
}

#throttle {
    position: absolute;
    bottom: 30px;
    width: 0%;
    height: 30px;
    background-color: #6d1c17;
    visibility: visible;
    transition: all 0.5s ease-out;
    box-shadow: 2px 2px 5px black
}

#healthBar {
    position: relative;
    top: 22px;
    width: 20%;
    background-color: #ddd;
    visibility: visible;
    transition: all 0.5s ease-out;
    box-shadow: 2px 2px 5px black
}

#health {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    background-color: #176d2c;
    visibility: visible;
    transition: all 0.5s ease-out;
    box-shadow: 2px 2px 5px black
}

#paused {
    text-align: center;
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 5em;
    font-style: italic;
    visibility: hidden;
    color:white;
    text-shadow: 2px 2px 5px black
}

#destroyed {
    text-align: center;
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 5em;
    font-style: italic;
    visibility: hidden;
    color:white;
    text-shadow: 2px 2px 5px black
}

#finished {
    text-align: center;
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 5em;
    font-style: italic;
    visibility: hidden;
    color:white;
    text-shadow: 2px 2px 5px black
}

a.back {
    display: block;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

a.back:hover {
    background: #ddd;
}
